out*
eclipse*
src/ipch
*~
*.gch
*.dll
*.exe
*.7z
*.zip
.vs/

Quake4.exe
q4base/*.pk4
q4base/autoexec.cfg
q4base/Quake4Config.cfg
q4base/editor.cfg
q4base/*.scriptcfg
q4base/quake4key
q4base/config.spec
q4base/savegames/
q4base/*.vdf
q4base/*.txt
q4mp/*.pk4
q4mp/autoexec.cfg
q4mp/Quake4Config.cfg
q4mp/editor.cfg
q4mp/*.scriptcfg
q4base/quake4key
q4base/config.spec
q4base/savegames/
q4base/*.vdf
q4base/*.txt
commandlist.txt

GPATH
GRTAGS
GSYMS
GTAGS
HTML/
src/.kdev4
src/src.kdev4
src/.idea/
src/cmake-build-*/
bin/*
