out*
eclipse*
neo/ipch
*~
*.gch
*.dll
*.exe
*.7z
*.zip
.vs/

Doom3.exe
base/*.pk4
base/autoexec.cfg
base/DoomConfig.cfg
base/editor.cfg
commandlist.txt
guied_imgui.ini
radiant_imgui.ini
imgui.ini

GPATH
GRTAGS
GSYMS
GTAGS
HTML/
neo/.kdev4
neo/neo.kdev4
neo/.idea/
neo/cmake-build-*/
bin/*
